target/

# NetBeans
nbactions.xml
nb-configuration.xml
nbproject

# Eclipse
*.launch
.classpath
.gwt
.project
.settings
*/bin

/target

.idea/workspace.xml
*.iml
.idea/libraries/Maven__xalan_serializer_2_7_1.xml
*.xml
.idea/.name
proarc-webapp/src/main/resources/cz/cas/lib/proarc/webapp/ProArc.gwt.xml
proarc-webapp/src/main/resources/cz/cas/lib/proarc/webapp/ProArc.gwt.xml
proarc-webapp/src/main/resources/cz/cas/lib/proarc/webapp/ProArc.gwt.xml
proarc-webapp/src/main/resources/cz/cas/lib/proarc/webapp/ProArc.gwt.xml