/** Add css rules here for your application. */

.pasMainTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    font-size:18px;
}

.pasWizardTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
/*    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #A7ABB4;*/
    background-color: #dedede;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/* ModsEditor */
.metadata-elements {
        padding-left: 30px;
        padding-right: 15px;
}

.metadata-attributes {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
}

.metadata-sectionstack-topmargin {
        margin-top: 5px;
        padding-left: 30px;
        padding-right: 15px;
}

.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#bad4ee;
    color:black;
}
