<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>cz.incad.pas.editor.server.EditorServletConfiguration</listener-class>
    </listener>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>cz.incad.pas.editor.server.rest</param-value>
        </init-param>

        <!-- see http://jersey.java.net/nonav/apidocs/1.9.1/jersey/com/sun/jersey/api/container/filter/LoggingFilter.html -->
        <!-- see http://jersey.java.net/nonav/apidocs/1.9.1/jersey/com/sun/jersey/api/container/filter/GZIPContentEncodingFilter.html -->
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
<!--            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
<!--            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>-->
            <param-value>com.sun.jersey.api.container.filter.LoggingFilter;com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
<!--            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter;com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
<!--            <param-value>com.sun.jersey.api.container.filter.LoggingFilter;com.sun.jersey.api.container.filter.GZIPContentEncodingFilter;com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
        </init-param>
<!--        <init-param>-->
<!--            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>-->
<!--            <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
<!--            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>-->
            <!-- logs response and then gzip it -->
<!--            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter;com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
            <!-- logs response then gzip it and then logs gziped response -->
<!--            <param-value>com.sun.jersey.api.container.filter.LoggingFilter;com.sun.jersey.api.container.filter.GZIPContentEncodingFilter;com.sun.jersey.api.container.filter.LoggingFilter</param-value>-->
<!--        </init-param>-->
        <init-param>
            <param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
            <param-value>true</param-value>
<!--            <param-value>false</param-value>-->
        </init-param>

        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet>
        <servlet-name>ModsGwtServiceProvider</servlet-name>
        <servlet-class>cz.incad.pas.editor.server.ModsGwtServiceProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModsGwtServiceProvider</servlet-name>
        <url-pattern>/PASEditor/modsgwt</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Editor.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Proarc webapp</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>proarc</role-name>
        </auth-constraint>
<!--        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Proarc secured area</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>proarc</role-name>
    </security-role>
    
    <resource-ref>
        <res-ref-name>jdbc/proarc</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    
</web-app>
