/** Add css rules here for your application. */

html, body { overflow:hidden }
#loadingWrapper {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 900001;
}
#loading {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 160px;
    padding: 2px;
    text-align: left;
}

#loading .loadingIndicator {
    background: white;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
    color: #444;
}

#loadingMsg {
    font: normal 10px arial, tahoma, sans-serif;
}

.proarcAboutWindowMessageTitle {
    font-size: 250%;
    color: #0073b1;
}

.proarcPanelDescriptionTitle {
    font-family:Arial,Verdana,tahoma,serif;
    color:#454545;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
/*    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #A7ABB4;*/
    background-color: #dedede;
}

.proarcHeaderInsideForm {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px lightgray solid;
    margin-bottom: 5px;
    font-weight: bold;
}

/* ModsEditor */
.metadata-elements {
        padding-left: 30px;
        padding-right: 15px;
}

.metadata-attributes {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
}

.metadata-sectionstack-topmargin {
        margin-top: 5px;
        padding-left: 30px;
        padding-right: 15px;
}

.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#bad4ee;
    color:black;
}

/* issue 315: chage display to inline to show the warning */
.proarcMetadataFormWarning {
    display: none;
    color: red;
    font-style: italic;
}

/* issue 297: uncomment to render required fields with red color. */
/*
.formTitle b,
.formTitleFocused b {
    color:red;
}
*/
